@model CartViewModel

<tr>
    <td>
        <div class="media">
            <div class="d-flex">
                <img width="140" height="100" src="@Model.Image" alt="">
            </div>
            <div class="media-body">
                <p>@Model.Name</p>
            </div>
        </div>
    </td>
    <td>
        <div class="media">
            <div class="media-body">
                <p>@Model.Size</p>
            </div>
        </div> 
    </td>
    <td>
        <div class="media">
            <div class="media-body">
                <p>$@Model.Price</p>
            </div>
        </div>    
    </td>
    <td>
        <div class="media">
            <div class="media-body">
                <p>@Model.Quantity</p>
            </div>
        </div> 
    </td>
    <td>
        <div class="media">
            <div class="media-body">
                <p>$@(Model.Quantity * Model.Price)</p>
            </div>
        </div>
    </td>
    <td>
        <div class="media">
            <div class="media-body">
                <p>
                    <a asp-controller="Cart" asp-action="Remove" asp-route-productId="@Model.Id" asp-route-size="@Model.Size" class="btn btn-danger">Remove</a>
                </p>
            </div>    
        </div>
    </td>
</tr>
