@model Application.Models.Pagination

<ul class="pagination">
    <li class="page-item">
        <a class="page-link" asp-controller="Categories" asp-action="Products" asp-route-categoryId="@Model.Category" asp-route-price="@Model.Price"  asp-route-sizeId="@Model.SizeId" asp-route-sex="@Model.Sex" asp-route-page="@Model.First" aria-label="First">
            <span aria-hidden="true">First</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" asp-controller="Categories" asp-action="Products" asp-route-categoryId="@Model.Category" asp-route-price="@Model.Price"  asp-route-sizeId="@Model.SizeId" asp-route-sex="@Model.Sex" asp-route-page="@Model.Previous" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.Active)
        {
            <li class="page-item active"><a class="page-link" asp-controller="Categories" asp-action="Products" asp-route-categoryId="@Model.Category" asp-route-price="@Model.Price"  asp-route-sizeId="@Model.SizeId" asp-route-sex="@Model.Sex" asp-route-page="@i">@i</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-controller="Categories" asp-action="Products" asp-route-categoryId="@Model.Category" asp-route-price="@Model.Price"  asp-route-sizeId="@Model.SizeId" asp-route-sex="@Model.Sex" asp-route-page="@i">@i</a></li>
        }


    }
    <li class="page-item">
        <a class="page-link" asp-controller="Categories" asp-action="Products" asp-route-categoryId="@Model.Category" asp-route-price="@Model.Price"  asp-route-sizeId="@Model.SizeId" asp-route-sex="@Model.Sex" asp-route-page="@Model.Next" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>

    <li class="page-item">
        <a class="page-link" asp-controller="Categories" asp-action="Products" asp-route-categoryId="@Model.Category" asp-route-price="@Model.Price"  asp-route-sizeId="@Model.SizeId" asp-route-sex="@Model.Sex" asp-route-page="@Model.Last" aria-label="Last">
            <span aria-hidden="true">Last</span>
        </a>
    </li>
</ul>