@using Models.Enums
@model CategoryProductsViewModel

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>@Model.CurrentCategory.Name</h2>
                <div class="page_link">
                    <a asp-controller="Products" asp-action="Index">Home</a>
                    <a asp-controller="Categories" asp-action="Products" asp-route-categoryId="@Model.CurrentCategory.Id">@Model.CurrentCategory.Name</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Category Product Area =================-->
<section class="cat_product_area p_120">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="product_top_bar">
                    <div class="left_dorp">
                        @if (!string.IsNullOrEmpty(Model.Pagination.Price))
                        {
                            <h4>
                                <span><em>Products in range: @Model.Pagination.Price</em>. </span>
                                @if (!string.IsNullOrEmpty(Model.Pagination.Size))
                                {
                                    <span><em>Size: @Model.Pagination.Size</em>. </span>
                                }

                                @if (Model.Pagination.Sex != 0)
                                {
                                    <span><em>Gender: @Model.Pagination.Gender</em>. </span>
                                }

                            </h4>
                        }
                    </div>
                    <div class="right_page ml-auto">
                        <nav class="cat_page" aria-label="Page navigation example">
                            @if (Model.Products.Any())
                            {
                                <partial name="_PaginationControls" model="@Model.Pagination" />
                            }

                        </nav>
                    </div>
                </div>

                @if (!Model.Products.Any())
                {
                    <h1 class="text-center">No products found.</h1>
                }
                else
                {
                    <div class="latest_product_inner row">
                        @foreach (var item in Model.Products)
                        {

                            <partial name="_Product" model="@item" />

                        }
                    </div>
                }


            </div>
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <form asp-controller="Categories" asp-action="Products" method="get">
                        <aside class="left_widgets cat_widgets">
                            <div class="l_w_title">
                                <h3>Browse Categories</h3>
                            </div>

                            <div class="widgets_inner">
                                <ul class="list">
                                    @foreach (var category in Model.Categories)
                                    {
                                        <li><a asp-controller="Categories" asp-action="Products" asp-route-categoryId="@category.Id">@category.Name</a></li>
                                    }

                                </ul>
                            </div>
                        </aside>
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Product Filters</h3>
                            </div>
                            <div class="widgets_inner">
                                <h4>Gender</h4>
                                <ul class="list">
                                    <li><input type="radio" name="sex" class="sex" value="1" />Men</li>
                                    <li><input type="radio" name="sex" class="sex" value="2" />Women</li>
                                    <li><input type="radio" name="sex" class="sex" value="3" />Kids</li>
                                </ul>
                            </div>
                            <div class="widgets_inner sizesContainer">
                                @if (Model.CurrentCategory.Type == CategoryType.Clothes)
                                {
                                    <h4>Size</h4>
                                    <ul class="list">
                                        @foreach (var size in Model.Sizes)
                                        {
                                            <li><input type="radio" name="sizeId" value="@size.Id" />@size.Name</li>
                                        }
                                    </ul>
                                }
                            </div>
                            <div class="widgets_inner">
                                <h4>Price</h4>
                                <div class="range_item">
                                    <div id="slider-range"></div>
                                    <div class="row m0">
                                        <label for="amount">Price : </label>
                                        <input type="text" id="amount" name="price" readonly>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="hidden" name="categoryId" value="@Model.Pagination.Category" />
                            </div>
                            <div class="text-center">
                                <input type="submit" value="Search" class="btn submit_btn" />
                            </div>


                        </aside>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Category Product Area =================-->
<!--================Most Product Area =================-->
<partial name="_MostOrderedProductsSection" model="@Model.MostOrderedProducts" />

@section Scripts
{
    <script>
        $(document).ready(function() {
            $('.sex').on("change",
                function(e) {
                    let value = $(this).val();
                    if ("@Model.CurrentCategory.Type.ToString()" !== "Clothes") {
                        $.ajax({
                            type: "POST",
                            url: '/Shopping/Sizes/GetSizes',
                            data: ({ type: "@Model.CurrentCategory.Type.ToString()", sex: value }),
                            success: function(data) {
                                if (data.length > 0) {
                                    var output = "<h4>Sizes</h4><ul class='list'>";
                                    for (var size of data) {
                                        output +=
                                            "<li><input type='radio' name='sizeId' value='" +
                                            size.id +
                                            "' />" +
                                            size.name +
                                            "</li>";
                                    }
                                    output += "</ul>";
                                    $('.sizesContainer').html(output);
                                } else {
                                    $('.sizesContainer').html('');
                                }
                            },
                            error: function() {
                                alert('Error occured');
                            }
                        });
                    }
                   
                    e.preventDefault();
                });
        });
    </script>
}
