@model ProductViewModel
 <div class="item">
    <div class="f_p_item">
        <div class="f_p_img">
            <img class="img-fluid" src="@Model.Image" alt="">
            <div class="p_icon">
                <a class="add-to-whishlist" data-id="@Model.Id"><i class="lnr lnr-heart"></i></a>
                <a asp-area="Shopping" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id"><i class="lnr lnr-cart"></i></a>
            </div>
        </div>
        <a asp-area="Shopping" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id"><h4>@Model.Name</h4></a>
        <h5>$@Model.Price.ToString("F2", CultureInfo.InvariantCulture)</h5>
    </div>
</div>
                   
