@model ProductDetailsPageViewModel
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Product Details</h2>
                <div class="page_link">
                    <a asp-controller="Products" asp-action="Index">Home</a>
                    @if (TempData.ContainsKey("currentCategory"))
                    {
                        <a asp-controller="Categories" asp-action="Products" asp-route-categoryId="@Model.Product.CategoryId">@TempData["currentCategory"]</a>
                    }

                    <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Product.Id">@Model.Product.Name</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_product_img">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                <img width="60" height="60" src="@Model.Product.Images.First()" alt="">
                            </li>

                            @for (int img = 1; img < Model.Product.Images.Count; img++)
                            {
                                <li data-target="#carouselExampleIndicators" data-slide-to="@img">
                                    <img width="60" height="60" src="@Model.Product.Images.Skip(img).Take(1).First()" alt="">
                                </li>
                            }
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="@Model.Product.Images.First()" />
                            </div>
                            @for (int img = 1; img < Model.Product.Images.Count; img++)
                            {
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="@Model.Product.Images.Skip(img).Take(1).First()" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>@Model.Product.Name</h3>
                    <h2>$@Model.Product.Price.ToString("F2", CultureInfo.InvariantCulture)</h2>
                    <ul class="list">
                        <li>
                            <a href="#">
                                <span>Availibility</span>
                                @if (Model.Product.Sizes.Any(s => s.Quantity > 0))
                                {
                                    <span class="text-success">In Stock</span>
                                }
                                else
                                {
                                    <span class="text-danger">Out of Stock</span>
                                }
                            </a>
                        </li>

                    </ul>
                    <p>@Model.Product.Details</p>
                    @if (User.Identity.Name != Model.Product.Creator)
                    {
                        if (Model.Product.Sizes.Any(s => s.Quantity > 0))
                        {
                            <form class="d-block" asp-area="Profile" asp-controller="Cart" asp-action="Add">
                                <div class="row product_size_row">
                                    <div class="product_size">
                                        <label for="sizeId">Size</label>
                                        <select name="size" id="size">
                                            @foreach (var size in Model.Product.Sizes)
                                            {
                                                <option value="@size.Name">@size.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="product_count">
                                    <label for="sst">Quantity:</label>
                                    <input type="text" name="quantity" id="sst" maxlength="1" value="1" title="Quantity:" class="input-text qty">
                                    <button onclick="var result = document.getElementById('sst'); var max = result.maxLength;var sst = result.value;if (!isNaN(sst) && sst < max) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if (!isNaN(sst)  && sst > 1 )result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                </div>
                                <input type="hidden" name="productId" value="@Model.Product.Id" />
                                <div class="card_area">
                                    <button type="submit" class="main_btn">Add to Cart</button>
                                    <a class="icon_btn add-to-whishlist" data-id="@Model.Product.Id"><i class="lnr lnr lnr-heart"></i></a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a asp-area="Shopping" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Product.Id" asp-route-isHome="true" class="icon_btn confirm-delete"><i class="lnr lnr-cross"></i></a>
                                    }
                                </div>
                            </form>
                        }
                    }
                    else
                    {
                        <div class="card_area">
                            <a asp-area="Shopping" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Product.Id" class="icon_btn"><i class="lnr lnr-pencil"></i></a>
                            <a asp-area="Shopping" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Product.Id" asp-route-isHome="true" class="icon_btn confirm-delete"><i class="lnr lnr-cross"></i></a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Specification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>@Model.Product.Description</p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Gender</h5>
                                </td>
                                <td>
                                    <h5>@Model.Product.Sex</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Color</h5>
                                </td>
                                <td>
                                    <h5>
                                        @{
                                            var color = Model.Product.Color.Replace(" ", string.Empty).Trim().ToLower();
                                            if (Color.FromName(color).IsKnownColor)
                                            {
                                                <div class="product_color" style="background-color: @color"></div>
                                            }
                                            else
                                            {
                                                @Model.Product.Color
                                            }
                                        }

                                    </h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Available sizes</h5>
                                </td>
                                <td>
                                    <h5>@string.Join(", ", Model.Product.Sizes.Select(s => s.Name))</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Views</h5>
                                </td>
                                <td>
                                    <h5>@Model.Product.Views</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Bought</h5>
                                </td>
                                <td>
                                    <h5>@Model.Product.Orders times</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">
                                    <h5>Overall</h5>
                                    <h4>@Model.Product.Rating.ToString("F1", CultureInfo.InvariantCulture)</h4>
                                    <h6>(@Model.Product.Reviews.Count Reviews)</h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    <h3>Based on @Model.Product.Reviews.Count Reviews</h3>
                                    <ul class="list">
                                        <li>
                                            @for (int i = 0; i < (int)Model.Product.Rating; i++)
                                            {
                                                <span>⭐</span>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review_list">
                            @foreach (var review in Model.Product.Reviews)
                            {
                                <partial name="_Review" model="@review" />
                            }
                        </div>
                    </div>
                    <div class="col-lg-6">
                        @if (this.User.Identity.Name != Model.Product.Creator)
                        {
                            <div class="review_box">
                                <h4>Add a Review</h4>
                                <p>Your Rating:</p>

                                <form class="row contact_form" method="post" id="contactForm">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select asp-for="@Model.Stars">
                                                @for (int i = 5; i > 0; i--)
                                                {
                                                    <option value="@i">
                                                        @i :
                                                        @for (int j = 0; j < i; j++)
                                                        {
                                                            <span>⭐</span>
                                                        }
                                                    </option>
                                                }
                                            </select>
                                            <span asp-validation-for="@Model.Stars" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" asp-for="@Model.Comment" id="message" rows="1" placeholder="Review"></textarea>
                                        </div>
                                        <span asp-validation-for="@Model.Comment" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" value="submit" class="btn submit_btn">Submit Now</button>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->
<partial name="_MostOrderedProductsSection" model="@Model.MostOrderedProducts" />

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var selectedSize = $('#size').val();
            var sizes = @Json.Serialize(Model.Product.Sizes);
            var quantity = sizes.filter(s => s.name === selectedSize).map(p => p.quantity)[0];

            $('#sst').attr('maxlength', quantity);

            $('#size').on("change", function(e) {
                var selectedSize = $(this).val();
                var sizes = @Json.Serialize(Model.Product.Sizes);
                var quantity = sizes.filter(s => s.name === selectedSize).map(p => p.quantity)[0];

                $('#sst').attr('maxlength', quantity);
                $('#sst').val(1);
            });
        });
    </script>
}
