@model CreateSizeViewModel

@{
    ViewData["Title"] = "Add Sizes";
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Add Sizes</h2>
                <div class="page_link">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <a asp-controller="Sizes" asp-action="Create">Add Sizes</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="login_box_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login_form_inner">
                    <h3>Please fill out the form.</h3>
                    <form method="post" enctype="multipart/form-data" class="row login_form">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-md-12 form-group">
                            <label asp-for="@Model.Quantity"></label>
                            <input class="form-control" asp-for="@Model.Quantity" placeholder="Quantity...">
                            <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <select class="form-control" asp-for="@Model.SizeId">
                                <option disabled selected>Size</option>
                                @foreach (var size in Model.AllSizes)
                                {
                                    <option class="form-control" value="@size.Id">@size.Name</option>
                                }
                            </select>
                            <span asp-validation-for="@Model.SizeId" class="text-danger"></span>
                        </div>

                        <div class="col-md-12 form-group mt-3 mb-3">
                            <div class="row justify-content-around">
                                <div class="col-4">
                                    <button type="submit" value="submit" class="btn submit_btn" name="submit">Finish</button>
                                </div>
                                <div class="col-4 ml-3">
                                    <button type="submit" value="submit" class="btn submit_btn" name="continue">More</button>
                                </div>
                            </div> 
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
